__pycache__/
*.pyc

.idea/

data/GFS/*.grib
data/GFS/*.grib2
data/GFS/*.meta.json
data/GFS/*.png

data/CMA/*.grib
data/CMA/*.grib2
data/CMA/*.meta.json
data/CMA/*.png

data/ERA5/*.grib
data/ERA5/*.grib2
data/ERA5/*.meta.json
data/ERA5/*.png